
\.vs/

BookStoreAPI/App_Data/

BookStoreAPI/bin/

BookStoreAPI/Areas/

BookStoreAPI/Content/

BookStoreAPI/fonts/

BookStoreAPI/Views/

BookStoreAPI/obj/

BookStoreAPI/Scripts/

packages/

BookStoreAPI\.Tests/obj/

BookStoreAPI\.Tests/bin/
