language: csharp
solution: BookStoreContribe.sln
mono:
  - latest
script:
  - xbuild /p:Configuration=Debug BookStoreContribe.sln
before_install:
  - sudo apt-get install nunit-console
before_script:
  - nuget restore BookStoreContribe.sln
after_script:
  - nunit-console ./BookStoreAPI.Tests/bin/Release/BookStoreAPI.Tests.dll