language: csharp
solution: BookStoreContribe.sln
install:
  - nuget restore BookStoreContribe.sln
  - nuget install NUnit.Runners -Version 3.9.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release  BookStoreContribe.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe ./BookStoreAPI.Tests/bin/Release/BookStoreAPI.Tests.dll