@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookStore - ASP Client</h1>
    <p class="lead">This is the asp client for the book store, click on Books to start shopping</p>
    <p><a href="/Book/Index" class="btn btn-primary btn-lg">Start Browsing &raquo;</a></p>
</div>